---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import "@fontsource/noto-sans";
import "../styles/global.css";

export interface Props {
	title: string;
	activePage: string;
	metadata?: {
		description: string;
		url: string;
		image?: string;
	};
	noMaxWidth?: boolean;
}

const { title, metadata, activePage, noMaxWidth } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<script is:inline>
			// preload dark mode
			let darkMode = localStorage.getItem("darkMode");
			if (darkMode === "enabled") {
				document.documentElement.classList.add("dark");
			}
		</script>

		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
		<meta name='generator' content={Astro.generator} />
		{metadata?.description && <meta name='description' content={metadata?.description} />}
		{metadata?.description && <meta property='og:description' content={metadata?.description} />}
		<meta property='og:title' content={title} />
		<meta property='og:type' content='website' />

		{metadata?.url && <meta property='og:url' content={metadata?.url} />}
		{metadata?.image && <meta property='og:image' content={metadata?.image} />}
		<meta property='og:site_name' content='Raymond Zhao' />
		<title>{`${title} | Raymond Zhao`}</title>
	</head>
	<body class='bg-gray-200 dark:bg-gray-900 text-gray-700 dark:text-gray-300'>
		<Navbar activePage={activePage} noMaxWidth={noMaxWidth} />
		<div class={`page-content mx-auto ${noMaxWidth ? "" : "max-w-screen-xl"} px-6`}>
			<slot />
		</div>
		<Footer />
	</body>
</html>
